<%- include("partials/header") %> 









    <!-- Page Content -->

    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="assets/images/banner-item-01.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="/post"><h4>Gwyneth Paltrow's Controversial Boots Take a Style Cue From Jill Biden</h4></a>
                <ul class="post-info">
                  <li><a href="#">Anne</a></li>
                  <li><a href="#">Sept 12, 2021</a></li>
                  <li><a href="#">12 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-02.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="/post"><h4>Kristen Stewart Wore an Ab-Baring Bra Top and Skirt at the Premiere of Spencer</h4></a>
                <ul class="post-info">
                  <li><a href="#">Glory</a></li>
                  <li><a href="#">Sept 14, 2020</a></li>
                  <li><a href="#">24 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-03.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="/post"><h4>The best thing for you to do is to struggle to make it and enjoy yourself.
                   We have only one chance to live this life</h4></a>
                <ul class="post-info">

                  <li><a href="#">Blessing</a></li>
                  <li><a href="#">Sept 16, 2021</a></li>
                  <li><a href="#">36 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-04.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="/post"><h4>Angelina Jolie Just Opened Up About Parenting Her Six Kids</h4></a>
                <ul class="post-info">
                  <li><a href="#">Promise</a></li>
                  <li><a href="#">Sept 18, 2021</a></li>
                  <li><a href="#">48 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-05.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Celebrity</span>
                </div>
                <a href="/post"><h4>Whether they're announcing a new relationship or a new movie, we have the inside info on what's happening with our favorite celebrities.
                   From breakups and makeups to new babies and new projects, find all of the best celeb stories in one place.</h4></a>
                <ul class="post-info">
                  <li><a href="#">Hannutu</a></li>
                  <li><a href="#">Sept 24, 2021</a></li>
                  <li><a href="#">64 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-06.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="/post"><h4>I Saw Claire Danes Wearing a Sweatshirt Dress, So Now I Want a Sweatshirt Dress</h4></a>
                <ul class="post-info">
                  <li><a href="#">Irene</a></li>
                  <li><a href="#">Sept 26, 2021</a></li>
                  <li><a href="#">72 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Where the to get the current news happening all aroung you.</span>
                  <h4>Get the Smart Developer Blog app on your Devices</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://stephenjoseph.netlify.app/" target="_parent">Download Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="assets/images/blog-post-01.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>Healths</span>
                      <a href="/post"><h4></h4></a>
                      <ul class="post-info">
                        <li><a href="#">Dr Mafeng</a></li>
                        <li><a href="#">Sept 31, 2021</a></li>
                        <li><a href="#">12 Comments</a></li>
                      </ul>
                      <p>They were supposed to challenge for the title this season but they have allowed their opponents more efforts on target in the last two games than Manchester City have all season. They conceded more goals in 45 minutes at Old Trafford on Sunday than City have in 810 minutes since the start of the campaign.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Beauty</a>,</li>
                              <li><a href="#">Nature</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="assets/images/blog-post-02.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>Manchester Football</span>
                      <a href="/post"><h4></h4></a>
                      <ul class="post-info">
                        <li><a href="#">Odogu Siso</a></li>
                        <li><a href="#">Sept 24, 2021</a></li>
                        <li><a href="#">36 Comments</a></li>
                      </ul>
                      <p>The numbers make grim reading for Solskjaer, the man tasked with moulding Manchester United's individuals into a team, and the worst thing of all is that, really, this historic defeat was entirely predictable. "It had been coming," added Neville. There is a growing feeling of inevitability about what comes next for Solskjaer too.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Best Templates</a>,</li>
                              <li><a href="#">TemplateMo</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="assets/images/blog-post-03.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>Celebrity Ronaldo</span>
                      <a href="/post"><h4>RONALDO DOUBLES DOWN ON HIS BELIEF WE CAN SUCCEED</h4></a>
                      <ul class="post-info">
                        <li><a href="#">Ezekiel</a></li>
                        <li><a href="#">Sept 14, 2021</a></li>
                        <li><a href="#">48 Comments</a></li>
                      </ul>
                      <p>Ronaldo speaks with great conviction when describing the “potential” of our squad and how he is back at Old Trafford to win trophies, stating our team still needs time to adapt to recent changes. </p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">HTML CSS</a>,</li>
                              <li><a href="#">Photoshop</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="/blog">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="/post">
                          <h5>WE NEED TIME TO ADAPT</h5>
                          <span>Sept 31, 2021</span>
                        </a></li>
                        <li><a href="/post">
                          <h5>If everyone is thinking like that, sacrifice for the team, I think we will be a better team</h5>
                          <span>Sept 28, 2021</span>
                        </a></li>
                        <li><a href="/post">
                          <h5>If everyone is thinking like that, sacrifice for the team, I think we will be a better team</h5>
                          <span>Sept 14, 2021</span>
                        </a></li>
                        <li><% post.forEach(function(post){ %>
                          <a href="/posts/<%=post.title%>">
                             <h5><%= post.content.substring(0,100) %> </h5>
                             <span><%= post.date %> , 2021</span>
                        <%  }) %> 
                         </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    













    <%- include("partials/footer") %> 